/* /////////////////////////// */
/* ////// MAIN CODE PAGE //////*/
/* /////////////////////////// */

section{
  display: flex;
}

/* div article{
  justify-content: flex-start;
  width: 48%;
  padding-left: 10px;
  padding-right: 10px;
} */

/* applies extra margin to bottom of this section so it's symmetrical */
#right-bot{
  margin-bottom: 10px;
}
#left-bot{
  margin-bottom: 10px;
}

/* fixes margins between each article */
.leftside{
  margin: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.rightside{
  margin: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* .code-article{
  display: flex;
  padding: 0;
} */

/* .code-figure{
  display: flex;
  padding: 0;
} */

.game-desc{
  padding-top: 0px;
}

#skulpt{
  display: flex;
  justify-content: center;
}

.codeskulptor{
  text-align: center;
}

.minis{
  width: 50%;
  font-weight: bold;
  font-style: italic;
}

.coding-proj{
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: baseline;
}

.coding-proj .title{
  width: 30%;
}

.coding-proj .coding-desc{
  width: 50%;
}
