section{
    width: 60%;
  }
  
  figure{
    width: 250px;
    height: 250px;
  }

.cd-img{
    width: 250px;
    float: left;
    cursor: pointer;
}

.cd-img:hover{
  opacity: 0.7;
}

.song-list{
  padding: 15px;
  width: 300px;
  float: right;
}
  
  audio{
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    width: 250px;
    height: 18px;
  }
  
  .song-list a:hover{
    text-shadow: 1px 1px #000;
  }
  
  #music{
    display: block;
  }
  
  .contents{
    display: flex;
    height: 300px;
    margin-top: 10px;
  }
  
  .cd-title{
    width: 100%;
    font-variant: small-caps;
    font-size: 20px;
    background-color: black;
    padding: 3px;
    color: white;
  }
  
  .song-title{
    font-weight: bold;
  }
  
  .lyrics{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    display: none;
  }
  


/* LARGE IMAGE/MODELS */

/* Modal background */
.modal{
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  opacity: 90%;
}

/* Modal Content */
.modal-content{
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  z-index: 2;
}

/* Modal Close Button */
.close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}